<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/handwriting.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/reception.css}" />
<title>訪問者受付画面 - 広島開発センター 入退室管理</title>
</head>
<body>
    <div class="container">
        <form action="result" id="receform" method="post">
            ​
            <div id="carousel-main" class="carousel slide row align-items-center mt-5" data-ride="carousel" data-wrap="false" data-interval="false" data-touch="false">
                ​
                <div id="carousel-main" class="carousel-inner col" style="min-height: 50%;">
                    <div class="carousel-item active">
                        <div class="d-block w-100">
                            <div class="p-3 text-center">
                                <img th:src="@{images/logo.jpg}" class="img-fluid m-5" alt="logo image">
                            </div>
                            <div class="p-3 text-center">
                                <button type="button" class="btn btn-lg btn-primary carousel-next px-5">受付する</button>
                            </div>
                        </div>
                    </div>
                    ​
                    <div class="carousel-item show-introduction">
                        <div class="d-block w-100 p-3">
                            <div class="card">
                                <h5 class="card-header">所属／会社名をタッチペンで記入してください</h5>
                                <div class="card-body">
                                    <div class="canvas-wrapper">
                                        <canvas id="canvasCompany" class="handwriting" width="500" height="300"></canvas>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <input type="hidden" id="inputCompany" name="inputCompany" class="form-control" />
                                    <button type="button" class="btn btn-lg btn-secondary handwriting-reset px-5">リセット</button>
                                    <button type="button" class="btn btn-lg btn-primary carousel-next px-5" data-convert-to-url="#inputCompany" data-canvas="#canvasCompany">次へ</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="d-block w-100 p-3">

                            <div class="card">
                                <h5 class="card-header">お名前をタッチペンで記入してください</h5>
                                <div class="card-body">
                                    <div class="canvas-wrapper">
                                        <canvas id="canvasName" class="handwriting" width="500" height="300"></canvas>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <input type="hidden" id="inputName" name="inputName" class="form-control" />
                                    <button type="button" class="btn btn-lg btn-secondary handwriting-reset px-5">リセット</button>
                                    <button type="button" class="btn btn-lg btn-primary carousel-next px-5" data-convert-to-url="#inputName" data-canvas="#canvasName">次へ</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="d-block w-100 p-3">
                            <div class="card">
                                <h5 class="card-header">人数を選択してください</h5>
                                <div class="card-body">
                                    <div class="btn-toolbar justify-height" role="toolbar">
                                        <input type="hidden" id="inputNum" name="inputNum" value="1" />
                                        <div class="row ">
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number active" data-value="1">
                                                    <span class="display-4">1</span>人
                                                </button>
                                            </div>
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number" data-value="2">
                                                    <span class="display-4">2</span>人
                                                </button>
                                            </div>
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number" data-value="3">
                                                    <span class="display-4">3</span>人
                                                </button>
                                            </div>
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number" data-value="4">
                                                    <span class="display-4">4</span>人
                                                </button>
                                            </div>
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number" data-value="5">
                                                    <span class="display-4">5</span>人
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number" data-value="6">
                                                    <span class="display-4">6</span>人
                                                </button>
                                            </div>
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number" data-value="7">
                                                    <span class="display-4">7</span>人
                                                </button>
                                            </div>
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number" data-value="8">
                                                    <span class="display-4">8</span>人
                                                </button>
                                            </div>
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number" data-value="9">
                                                    <span class="display-4">9</span>人
                                                </button>
                                            </div>
                                            <div class="btn-group m-1 col-2" role="group">
                                                <button type="button" class="btn btn-outline-info btn-input-number" data-value="10">
                                                    <span class="display-4">10</span>人
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <input type="button" id="btn-submit" class="btn btn-lg btn-primary px-5" value="受付する" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item" id="announce">
                        <div class="d-block w-100 text-center text-secondary">
                            <p>担当者がまいります。少々お待ちください。</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="introduction" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>ディスプレイ手前のキーパッド部分をタッチペンでなぞると記入できます</p>
                    <img th:src="@{/images/YogaBook.png}" width="300" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-primary px-5" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <form th:object="${slack}" name="slack" style="display: none;">
        <input type="hidden" th:field="*{token}" /> <input type="hidden" th:field="*{channel}" /> <input type="hidden" th:field="*{url}" />
    </form>

    ​
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/script/reception.js}"></script>
</body>
</html>