<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- BootstrapのCSS読み込み -->
<link rel="stylesheet" media="all" 	th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->


<title>管 理 画 面</title>

<!-- <script src="/script/visitorlist.js"></script> -->
</head>

<body>
	<div class="container">

		<div class="row">
			<div class="col-md-8">
				<div class="search-form">

					<div class="card bg-light mb-3">
						<div class="card-header">検索設定</div>
						<div class="card-body">
							<form action="#" th:action="@{/search}" method="post" th:object="${s}">
								<span>入室日：
								<input type="date" min="2020-01-01" th:field="*{inputMinDate}" /> ～
								<input type="date" min="2020-01-01" th:field="*{inputMaxDate}" />
								</span>
								<div class="text-right">
									<button type="submit" class="btn btn-info btn-md">検 索</button>
								</div>
								<label th:for="checked1"> 未退室のみ </label> <input type="checkbox" th:field="*{checked}" />
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="msg-form">
					<div class="card bg-light mb-3">
						<div class="card-header">消去時メッセージ</div>
						<div class="card-body">
							<span th:text="${msg}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div style="height: 450px; overflow-y: scroll;">
			<table class="table table-striped table-bordered table-sm">
				<thead class="thead-dark">
					<tr>
						<th>入室日時</th>
						<th>所属／会社名</th>
						<th>訪問者名</th>
						<th>経過時間</th>
						<th>訪問先</th>
						<th>退室時間</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${list}">
						<td class="align-middle mx-auto" th:text="${row.visited_at}" />
						<td class="align-middle" th:text="${row.visitor_org}" />
						<td class="align-middle" th:text="${row.visitor_name}" />
						<td class="align-middle" th:text="${row.diffTime}" th:classappend="${row.diffMinutes > 300} ? bg-danger :'' "></td>
						<td class="align-middle">
							<form action="#" th:action="@{/exit/{id}(id=${row._id})}"
								method="post" th:object="${sendModel}">
								<div th:if="${row.person_to_visit ==''}">
									<div class="row">
										<div class="col-7">
											<input type="text" class="form-control"
												name="person_to_visit" value="" placeholder="名前を入力" required>
										</div>
										<div class="col-5">
											<button type="submit" class="btn btn-success">退室処理</button>
										</div>
									</div>
								</div>
								<div th:unless="${row.person_to_visit ==''}">
									<span th:text="${row.person_to_visit}" /></span>
								</div>
							</form>
						</td>
						<td class="align-middle">
							<div th:unless="${row.person_to_visit ==''}">
								<span th:text="${row.left_at}"></span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="fixed-bottom alert-secondary border pl-3">
		<form action="#" th:action="@{/delete}" method="post">
			<button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#modal1">データ削除</button>
			<span
				th:text="'　' + ${delM.period} + 'カ月以上経過した退室済みデータをデータベースから削除します'">
			</span>
		</form>
	</div>

<!-- 	<script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script> -->

<!-- jQuery読み込み -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- BootstrapのJS読み込み -->
<!-- <script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

</body>
</html>