<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管 理 画 面</title>
<style>
@import
url("/css/visitorlist.css")
</style>

<script src="/script/visitorlist.js"></script>
</head>
<body>
	<h1>管理画面</h1>
	<fieldset>
		<legend>日付フィルター</legend>

		<form action="#" th:action="@{/search}" method="post"
			th:object="${s}">
			<p>
				入室日：
				<input type="date" min="2020-01-01" th:field="*{inputMinDate}" />
				～
				<input type="date" min="2020-01-01" th:field="*{inputMaxDate}" />
			</p>

			<label th:for="checked1">未退室のみ</label>
			<input type="checkbox" th:field="*{checked}" />
			<input type="submit" value="検索" />
		</form>
	</fieldset>

	<div style="height: 350px; overf; ow-y: scroll;">
		<table>
			<thead>
				<tr>
					<th width="200">入室日時</th>
					<th width="300">所属/会社名</th>
					<th width="200">訪問者名</th>
					<th width="150">経過時間</th>
					<th width="300">訪 問 先</th>
					<th width="200">退室時間</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="row : ${list}">

					<td th:text="${row.visited_at}" />
					<td th:text="${row.visitor_org}" />
					<td th:text="${row.visitor_name}" />
					<td th:text="${row.diffTime}" />
					<td>
						<form action="#" th:action="@{/exit/{id}(id=${row._id})}" method="post" th:object="${sendModel}">
							<div th:if="${row.person_to_visit ==''}">
								<input type="text" name="person_to_visit" value="" />
								<input 	type="submit" value="退室処理" />
							</div>
							<div th:unless="${row.person_to_visit ==''}">
								<span th:text="${row.person_to_visit}" /></span>
							</div>
						</form>
					</td>
					<td>
						<div th:unless="${row.person_to_visit ==''}">
							<span th:text="${row.left_at}"></span>
						</div>
					</td>
				</tr>
			</tbody>

		</table>

	</div>

	<fieldset>
		<legend>データの消去</legend>
		<form action="#" th:action="@{/delete}" method="post">
			<input type="submit" value="データ削除" />
			<span th:text="'　' + ${delM.period} + 'カ月以上経過した退室済みデータをデータベースから削除します'"></span>
		</form>
	</fieldset>

</body>
</html>